name: Create Release

# This workflow was built using steps and logic obtained from overextended/ox_inventory via it's maintained fork by CommunityOx
# Licensed under LGPL V-3
# https://github.com/CommunityOx/ox_inventory/blob/5060e47f250c7f76cc502041f970298dff782825/.github/workflows/release.yml

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  create-release:
    name: Build and Create Tagged release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: read

    steps:
      - name: Install archive tools
        run: sudo apt install zip

      - name: Checkout source code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ github.event.repository.default_branch }}

      - name: Get variables
        id: get_vars
        run: |
          echo '::set-output name=SHORT_SHA::$(git rev-parse --short HEAD)'
          echo '::set-output name=DATE::$(date +'%D')'
          echo '::set-output name=VERSION::${GITHUB_REF#refs/tags/}'  # Extracts the version from the tag

      - name: Update fxmanifest version
        run: |
          sed -i "/^version/c\\version '${{ steps.get_vars.outputs.VERSION }}'" fxmanifest.lua

      - name: Push version bump change
        uses: EndBug/add-and-commit@v9
        with:
          add: fxmanifest.lua
          push: true
          default_author: github_actions
          message: 'chore: bump version to ${{ github.ref_name }}'

      - name: Bundle files
        run: |
          mkdir -p ./temp/${{ github.event.repository.name }}
          cp ./**/*.lua ./temp/${{ github.event.repository.name }}
          cp ./LICENSE ./temp/${{ github.event.repository.name }}
          cp ./README.md ./temp/${{ github.event.repository.name }}
          cd ./temp && zip -r ../${{ github.event.repository.name }}.zip ./${{ github.event.repository.name }}

      - name: Create Release
        uses: 'marvinpinto/action-automatic-releases@v1.2.1'
        id: auto_release
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          title: '${{ env.RELEASE_VERSION }}'
          prerelease: false
          files: |
            ${{ github.event.repository.name }}.zip

        env:
          CI: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
